<%- include('partials/header.ejs') %>
    <main>
        <section id="contact" class="py-5">
            <div class="container">
                <h2>Contact Us</h2>
                <p>Get in touch with us for any inquiries or questions.</p>
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Phone</h4>
                        <p>(123) 659-9034</p>
                    </div>

                    <div class="col-lg-6">
                        <h4>Email</h4>
                        <p>info@example.com</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <h2>Connect On Social Media</h2>
                <p>Get in touch with us for any inquiries or questions.</p>
                <div class="row">
                    <div class="col-lg-4">
                        <h6>Facebook</h6>
                        <h6>Insatgram</h6>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('partials/footer.ejs') %>